# prepbuild + prepdist files
/doc
/examples
/extra_files.mk
/README
/version
**/Makefile.in
**/Makefile
/aclocal.m4
/configure
/libtool
/stamp-h1

# gixsql dist output files
/gixsql-1**

# more files
packages
deploy/redist
/build
**/*.bak
**/*~
**/*.o
**/*.lo
**/*.la
**/*.a
**/*.deps
**/*.libs
**/*.dirstamp
**/*.log
libgixpp/gix_esql_parser.cc
libgixpp/gix_esql_parser.hh
libgixpp/gix_esql_scanner.cc
libgixpp/location.hh
config.status
config.h
*.cache
.vs
**/Win32
**/x64
*/bin
*/obj
/gixpp/gixpp
/deploy/checklist.txt
/redist/msvc/x86
/redist/msvcrt/x86
